*.pt
*.pth
*.pkl
*.mp4
*.png
*.jpg
*.jpeg
*.pyc
*.asv
events.*
checkpoints
models/weights/*
samples
detectron_output
hrnet_output
hrnet_log
hrnet_results
cmx_log
*vscode*
HRNet-Semantic-Segmentation/output